Repository thm-mnd-ii/eWiLL, pull requests merged in 2023-05, with the labels that each got.

#135 119 minor tasks and fixes
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/services/TaskService.kt
  modules/core/web/package-lock.json
  modules/core/web/package.json
  modules/core/web/src/components/TaskList.vue
  modules/core/web/src/dialog/DialogCreateCourse.vue
  modules/core/web/src/dialog/DialogEditTask.vue
  modules/core/web/src/model/task/Task.ts
  modules/core/web/src/services/course.service.ts
  modules/core/web/src/services/diagram.service.ts
  modules/core/web/src/services/task.service.ts
  modules/core/web/src/views/ViewCourse.vue
  modules/core/web/src/views/ViewCourseSignup.vue
  modules/core/web/src/views/ViewCourses.vue
  modules/core/web/src/views/ViewHome.vue
  modules/core/web/src/views/ViewTask.vue
Labels: core:web

#146 143 submit diagram
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/endpoints/CourseController.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/endpoints/EvaluationController.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/endpoints/payload/CourseUser.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/endpoints/payload/requests/SubmissionRequestPL.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/repository/CourseRoleRepository.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/repository/SubmissionRepository.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/services/CourseService.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/services/EvaluationService.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/services/serviceInterfaces/ICourseService.kt
  modules/core/web/src/components/TaskList.vue
  modules/core/web/src/dialog/DialogEditTask.vue
  modules/core/web/src/model/submission/Result.ts
  modules/core/web/src/router/index.ts
  modules/core/web/src/services/evaluation.service.ts
  modules/core/web/src/views/ViewCourse.vue
  modules/core/web/src/views/ViewMembers.vue
  modules/core/web/src/views/ViewTask.vue
Labels: core:api, core:web

#147 136 course members
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/endpoints/EvaluationController.kt
  modules/core/web/src/model/course/Member.ts
  modules/core/web/src/services/course.service.ts
  modules/core/web/src/views/ViewMembers.vue
Labels: core:api, core:web

#152 add export option for diagrams
  modules/core/web/package-lock.json
  modules/core/web/package.json
  modules/core/web/src/components/FileExplorer.vue
  modules/core/web/src/components/ModelingTool.vue
  modules/core/web/src/components/modelingTool/EntityMain.vue
  modules/core/web/src/components/modelingTool/LineMain.vue
  modules/core/web/src/dialog/DialogExportDiagram.vue
  modules/core/web/src/stores/toolManagementStore.ts
  modules/core/web/tsconfig.json
Labels: core:model-tool

#153 136 course members
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/endpoints/EvaluationController.kt
  modules/core/web/src/services/course.service.ts
  modules/core/web/src/views/ViewMembers.vue
Labels: core:web

#158 136 course members
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/database/tables/Task.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/endpoints/CourseController.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/repository/CourseRoleRepository.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/services/CourseService.kt
  modules/core/api/src/main/kotlin/com/wipdev/eWiLL_backend/services/serviceInterfaces/ICourseService.kt
  modules/core/web/src/services/course.service.ts
  modules/core/web/src/views/ViewMembers.vue
Labels: core:api, core:web
